<a href="https://colab.research.google.com/github/kristinak15/QM2-Group-4/blob/main/GM_corn_analysis_with_normalised_GDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import pandas as pd

import matplotlib
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np

# Cleaning and combining initial data (corn yield, acreage, are, GM corn %, Agricultural GDP)

!mkdir datafinal
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/real%20gdp%20by%20state%20agriculture.csv -o ./datafinal/real_gdp_by_state_agriculture.csv
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/alltablesGEcrops.csv -o ./datafinal/GM_crops_%.csv
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/final%20corn%20data.csv -o ./datafinal/final_corn_data.csv
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/Total%20crop%20acreage.csv -o ./datafinal/Total_crop_acreage.csv
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/acres%20operated%20by%20state.csv -o ./datafinal/acres_operated_by_state.csv

!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/employment%20and%20wage%20agri.csv -o ./datafinal/employment_and_wage_agri.csv
!curl https://github.com/kristinak15/QM2-Group-4/blob/main/FINAL%20DATA%20SETS/EXPORTS.csv -o ./datafinal/exports.csv

In [100]:
gm_crops = pd.read_csv('/content/GM crops %.csv')

In [101]:
corn = pd.read_csv('/content/final corn data.csv')

In [102]:
gdp_agri = pd.read_csv('/content/real gdp by state agriculture.csv')

Other values are also saved as dataframes, which will be used to normalise agricultural GDP and to see which other ones contribute to agricultural GDP other than GM corn production

In [103]:
crops_planted_acreage =pd.read_csv('/content/Total crop acreage.csv')

In [104]:
acres_operated = pd.read_csv('/content/acres operated by state.csv')

In [105]:
jobs_and_wage = pd.read_csv('/content/employment and wage agri.csv')

In [106]:
exports = pd.read_csv('/content/EXPORTS.csv')

In [107]:
population = pd.read_csv('/content/population by state.csv')

Cleaning the GM crop and corn data, merging them together

In [108]:
gm_crops.head()

                                        Table  ... Value
0  Genetically engineered (GE) corn varieties  ...    13
1  Genetically engineered (GE) corn varieties  ...     7
2  Genetically engineered (GE) corn varieties  ...    23
3  Genetically engineered (GE) corn varieties  ...    25
4  Genetically engineered (GE) corn varieties  ...     8

[5 rows x 6 columns]

In [109]:
#gm_crops=gm_crops.drop(columns='Table')

In [110]:
gm_crops["Value"].replace({".": "0"}, inplace=True)
gm_crops["Value"].replace({"*": "0"}, inplace=True)

In [111]:
gm_crops.dtypes

Table        object
Unit         object
Variety      object
Year          int64
Attribute    object
Value        object
dtype: object

In [112]:
gm_crops["Value"] = gm_crops["Value"].astype(float).astype(int)

In [113]:
gm_crops.dtypes

Table        object
Unit         object
Variety      object
Year          int64
Attribute    object
Value         int64
dtype: object

In [114]:
corn.head()

   Year       State  Unnamed: 2  ...  Area harvested for grain Yield Production
0  2005     Alabama         NaN  ...                       200   119      23800
1  2005     Arizona         NaN  ...                        22   195       4290
2  2005   Arkansas          NaN  ...                       230   131      30130
3  2005  California         NaN  ...                       130   172      22360
4  2005   Colorado          NaN  ...                       950   148     140600

[5 rows x 7 columns]

In [115]:
corn=corn.drop(columns='Unnamed: 2')

In [116]:
corn.dtypes

Year                         int64
State                       object
Area planted                 int64
Area harvested for grain    object
Yield                       object
Production                  object
dtype: object

In [117]:
corn["Area harvested for grain"].replace({"(NA)": "0"}, inplace=True) 
corn["Area harvested for grain"].replace({"": "0"}, inplace=True) 
corn["Yield"].replace({"(NA)": "0"}, inplace=True) 
corn["Yield"].replace({"(NA)": "0"}, inplace=True) 
corn["Production"].replace({"(NA)": "0"}, inplace=True) 
corn["Production"].replace({"": "0"}, inplace=True)

corn["Area harvested for grain"].replace({"(NA)": "0"}, inplace=True)
corn["Area harvested for grain"].replace({"": "0"}, inplace=True)
corn["Yield"].replace({"(NA)": "0"}, inplace=True)
corn["Yield"].replace({"(NA)": "0"}, inplace=True)
corn["Production"].replace({"(NA)": "0"}, inplace=True)
corn["Production"].replace({"": "0"}, inplace=True)

corn["Area harvested for grain"] = corn["Area harvested for grain"].astype(float).astype(int)
corn["Yield"] = corn["Yield"].astype(float).astype(int)
corn["Production"] = corn["Production"].astype(float).astype(int)

In [118]:
corn["Area harvested for grain"].replace({"NA": "0"}, inplace=True)

In [119]:
corn["Area harvested for grain"].replace({"inf": "0"}, inplace=True)

In [120]:
corn = corn.fillna(0)

In [121]:
corn["Area harvested for grain"].astype(float).astype(int)

0        200
1         22
2        230
3        130
4        950
       ...
730       90
731       38
732     2680
733       67
734    81482
Name: Area harvested for grain, Length: 735, dtype: int64

In [122]:
corn["Yield"] = corn["Yield"].astype(float).astype(int)
corn["Production"] = corn["Production"].astype(float).astype(int)

In [123]:
gm_crops['Attribute'].unique()

array(['Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota',
       'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota',
       'Texas', 'Wisconsin', 'Other States', 'U.S.', 'Alabama',
       'Arkansas', 'California', 'Georgia', 'Louisiana', 'Mississippi',
       'North Carolina', 'Tennessee'], dtype=object)

In [124]:
corn['State'].unique()

array(['Alabama', 'Arizona', 'Arkansas ', 'California', 'Colorado ',
       'Connecticut ', 'Delaware', 'Florida ', 'Georgia ', 'Idaho ',
       'Illinois ', 'Indiana', 'Iowa ', 'Kansas ', 'Kentucky ',
       'Louisiana', 'Maine ', 'Maryland ', 'Massachusetts ', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri ', 'Montana ', 'Nebraska',
       'Nevada ', 'New Hampshire ', 'New Jersey ', 'New Mexico ',
       'New York ', 'North Carolina', 'North Dakota ', 'Ohio ',
       'Oklahoma', 'Oregon ', 'Pennsylvania ', 'Rhode Island ',
       'South Carolina', 'South Dakota ', 'Tennessee ', 'Texas ', 'Utah ',
       'Vermont ', 'Virginia ', 'Washington', 'West Virginia ',
       'Wisconsin ', 'Wyoming ', 'United States'], dtype=object)

In [125]:
corn['State'].replace({'Arkansas ': 'Arkansas'}, inplace=True)

In [126]:
corn['State'].replace({'Colorado ': 'Colorado', 'Connecticut ':'Conneticut', 'Florida ':'Florida','Georgia ':'Georgia', 'Idaho ':'Idaho', 'Illinois ':'Illinois', 'Iowa ':'Iowa','Kansas ':'Kansas','Kentucky ':'Kentucky', 'Maine ':'Maine', 'Massachusetts ':'Massachusetts','Missouri ':'Missouri','North Dakota ':'North Dakota','Ohio ':'Ohio','South Dakota ':'South Dakota','Texas ':'Texas', 'Wisconsin ':'Wisconsin'}, inplace=True)

In [127]:
corn['State'].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Conneticut', 'Delaware', 'Florida', 'Georgia', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland ', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana ', 'Nebraska', 'Nevada ',
       'New Hampshire ', 'New Jersey ', 'New Mexico ', 'New York ',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon ',
       'Pennsylvania ', 'Rhode Island ', 'South Carolina', 'South Dakota',
       'Tennessee ', 'Texas', 'Utah ', 'Vermont ', 'Virginia ',
       'Washington', 'West Virginia ', 'Wisconsin', 'Wyoming ',
       'United States'], dtype=object)

In [128]:
corn['State'].replace({'Maryland ': 'Maryland', 'Nevada ':'Nevada','New Hampshire ':'New Hampshire', 'New Jersey ':'New Jersey','New Mexico ':'New Mexico', 'New York ':'New York', 'Oregon ':'Oregon','Pennsylvania ':'Pennsylvania','Rhode Island ':'Rhode Island', 'Tennessee ':'Tennessee','Utah ':'Utah','Vermont ':'Vermont','Virginia ':'Virginia','West Virginia ':'West Virginia','Wyoming ':'Wyoming'}, inplace=True)

In [129]:
gm_crops['Attribute'].unique()

array(['Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota',
       'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota',
       'Texas', 'Wisconsin', 'Other States', 'U.S.', 'Alabama',
       'Arkansas', 'California', 'Georgia', 'Louisiana', 'Mississippi',
       'North Carolina', 'Tennessee'], dtype=object)

In [130]:
gm_corn = gm_crops[(gm_crops['Unit']=='Percent of corn planted')&(gm_crops['Variety']=='All GE varieties')]

In [131]:
gm_corn["Attribute"].replace({"U.S.": "United States"}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [132]:
gm_corn["Attribute"].unique()

array(['Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota',
       'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota',
       'Texas', 'Wisconsin', 'Other States', 'United States'],
      dtype=object)

In [133]:
corn['State'].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Conneticut', 'Delaware', 'Florida', 'Georgia', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana ', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'United States'],
      dtype=object)

---

# Merging data for corn table

Next step is to merge all the dataframes and calculate the actual level of GM crop area by multiplying the percentage and the total corn area planted

In [134]:
corn_table = corn.merge(gm_corn, how='inner', left_on=['Year', 'State'], right_on=['Year', 'Attribute'])

In [135]:
corn_table_final = corn.merge(gm_corn, how='outer', left_on=['Year', 'State'], right_on=['Year', 'Attribute'])

In [136]:
corn_table_final.tail(50)

     Year State  Area planted  ...           Variety      Attribute  Value
790  2003   NaN           NaN  ...  All GE varieties   South Dakota   75.0
791  2003   NaN           NaN  ...  All GE varieties          Texas    0.0
792  2003   NaN           NaN  ...  All GE varieties      Wisconsin   32.0
793  2003   NaN           NaN  ...  All GE varieties   Other States   36.0
794  2003   NaN           NaN  ...  All GE varieties  United States   40.0
795  2004   NaN           NaN  ...  All GE varieties       Illinois   33.0
796  2004   NaN           NaN  ...  All GE varieties        Indiana   21.0
797  2004   NaN           NaN  ...  All GE varieties           Iowa   54.0
798  2004   NaN           NaN  ...  All GE varieties         Kansas   54.0
799  2004   NaN           NaN  ...  All GE varieties       Michigan   33.0
800  2004   NaN           NaN  ...  All GE varieties      Minnesota   63.0
801  2004   NaN           NaN  ...  All GE varieties       Missouri   49.0
802  2004   NaN           NaN  ...  All GE varieties       Nebraska   60.0
803  2004   NaN           NaN  ...  All GE varieties   North Dakota    0.0
804  2004   NaN           NaN  ...  All GE varieties           Ohio   13.0
805  2004   NaN           NaN  ...  All GE varieties   South Dakota   79.0
806  2004   NaN           NaN  ...  All GE varieties          Texas    0.0
807  2004   NaN           NaN  ...  All GE varieties      Wisconsin   38.0
808  2004   NaN           NaN  ...  All GE varieties   Other States   46.0
809  2004   NaN           NaN  ...  All GE varieties  United States   47.0
810  2005   NaN           NaN  ...  All GE varieties   Other States   44.0
811  2006   NaN           NaN  ...  All GE varieties   Other States   55.0
812  2007   NaN           NaN  ...  All GE varieties   Other States   67.0
813  2008   NaN           NaN  ...  All GE varieties   Other States   74.0
814  2009   NaN           NaN  ...  All GE varieties   Other States   78.0
815  2010   NaN           NaN  ...  All GE varieties   Other States   82.0
816  2011   NaN           NaN  ...  All GE varieties   Other States   86.0
817  2012   NaN           NaN  ...  All GE varieties   Other States   85.0
818  2013   NaN           NaN  ...  All GE varieties   Other States   88.0
819  2014   NaN           NaN  ...  All GE varieties   Other States   91.0
820  2015   NaN           NaN  ...  All GE varieties   Other States   90.0
821  2016   NaN           NaN  ...  All GE varieties   Other States   90.0
822  2017   NaN           NaN  ...  All GE varieties   Other States   91.0
823  2018   NaN           NaN  ...  All GE varieties   Other States   90.0
824  2019   NaN           NaN  ...  All GE varieties   Other States   91.0
825  2020   NaN           NaN  ...  All GE varieties       Illinois   94.0
826  2020   NaN           NaN  ...  All GE varieties        Indiana   86.0
827  2020   NaN           NaN  ...  All GE varieties           Iowa   90.0
828  2020   NaN           NaN  ...  All GE varieties         Kansas   96.0
829  2020   NaN           NaN  ...  All GE varieties       Michigan   89.0
830  2020   NaN           NaN  ...  All GE varieties      Minnesota   92.0
831  2020   NaN           NaN  ...  All GE varieties       Missouri   93.0
832  2020   NaN           NaN  ...  All GE varieties       Nebraska   94.0
833  2020   NaN           NaN  ...  All GE varieties   North Dakota   91.0
834  2020   NaN           NaN  ...  All GE varieties           Ohio   87.0
835  2020   NaN           NaN  ...  All GE varieties   South Dakota   95.0
836  2020   NaN           NaN  ...  All GE varieties          Texas   92.0
837  2020   NaN           NaN  ...  All GE varieties      Wisconsin   90.0
838  2020   NaN           NaN  ...  All GE varieties   Other States   91.0
839  2020   NaN           NaN  ...  All GE varieties  United States   92.0

[50 rows x 11 columns]

In [137]:
corn_table_clean = corn_table_final[(corn_table_final['Year']>=2005) & (corn_table_final['Year']!=2020)]

In [138]:
corn_table_clean.drop(columns=['Table','Unit', 'Variety'], inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [48]:
corn_table_clean.loc[corn_table_clean.Attribute == 'Other States']

     Year State  Area planted  ... Production     Attribute  Value
810  2005   NaN           NaN  ...        NaN  Other States   44.0
811  2006   NaN           NaN  ...        NaN  Other States   55.0
812  2007   NaN           NaN  ...        NaN  Other States   67.0
813  2008   NaN           NaN  ...        NaN  Other States   74.0
814  2009   NaN           NaN  ...        NaN  Other States   78.0
815  2010   NaN           NaN  ...        NaN  Other States   82.0
816  2011   NaN           NaN  ...        NaN  Other States   86.0
817  2012   NaN           NaN  ...        NaN  Other States   85.0
818  2013   NaN           NaN  ...        NaN  Other States   88.0
819  2014   NaN           NaN  ...        NaN  Other States   91.0
820  2015   NaN           NaN  ...        NaN  Other States   90.0
821  2016   NaN           NaN  ...        NaN  Other States   90.0
822  2017   NaN           NaN  ...        NaN  Other States   91.0
823  2018   NaN           NaN  ...        NaN  Other States   90.0
824  2019   NaN           NaN  ...        NaN  Other States   91.0

[15 rows x 8 columns]

In [140]:
corn_table_clean.head(50)

    Year           State  Area planted  ...  Production      Attribute  Value
0   2005         Alabama         220.0  ...     23800.0            NaN    NaN
1   2005         Arizona          50.0  ...      4290.0            NaN    NaN
2   2005        Arkansas         240.0  ...     30130.0            NaN    NaN
3   2005      California         560.0  ...     22360.0            NaN    NaN
4   2005        Colorado        1100.0  ...    140600.0            NaN    NaN
5   2005      Conneticut          28.0  ...         0.0            NaN    NaN
6   2005        Delaware         160.0  ...     22022.0            NaN    NaN
7   2005         Florida          65.0  ...      2632.0            NaN    NaN
8   2005         Georgia         270.0  ...     29670.0            NaN    NaN
9   2005           Idaho         235.0  ...     10200.0            NaN    NaN
10  2005        Illinois       12100.0  ...   1708850.0       Illinois   36.0
11  2005         Indiana        5900.0  ...    888580.0        Indiana   26.0
12  2005            Iowa       12800.0  ...   2162500.0           Iowa   60.0
13  2005          Kansas        3650.0  ...    465750.0         Kansas   63.0
14  2005        Kentucky        1250.0  ...    155760.0            NaN    NaN
15  2005       Louisiana         340.0  ...     44880.0            NaN    NaN
16  2005           Maine          26.0  ...         0.0            NaN    NaN
17  2005        Maryland         470.0  ...     54000.0            NaN    NaN
18  2005   Massachusetts          20.0  ...         0.0            NaN    NaN
19  2005        Michigan        2250.0  ...    287430.0       Michigan   40.0
20  2005       Minnesota        7300.0  ...   1191900.0      Minnesota   66.0
21  2005     Mississippi         380.0  ...     47085.0            NaN    NaN
22  2005        Missouri        3100.0  ...    329670.0       Missouri   55.0
23  2005        Montana           65.0  ...      2516.0            NaN    NaN
24  2005        Nebraska        8500.0  ...   1270500.0       Nebraska   69.0
25  2005          Nevada           5.0  ...         0.0            NaN    NaN
26  2005   New Hampshire          15.0  ...         0.0            NaN    NaN
27  2005      New Jersey          80.0  ...      7564.0            NaN    NaN
28  2005      New Mexico         140.0  ...      9625.0            NaN    NaN
29  2005        New York         990.0  ...     57040.0            NaN    NaN
30  2005  North Carolina         750.0  ...     84000.0            NaN    NaN
31  2005    North Dakota        1410.0  ...    154800.0   North Dakota   75.0
32  2005            Ohio        3450.0  ...    464750.0           Ohio   18.0
33  2005        Oklahoma         290.0  ...     28750.0            NaN    NaN
34  2005          Oregon          53.0  ...      4000.0            NaN    NaN
35  2005    Pennsylvania        1350.0  ...    117120.0            NaN    NaN
36  2005    Rhode Island           2.0  ...         0.0            NaN    NaN
37  2005  South Carolina         300.0  ...     33060.0            NaN    NaN
38  2005    South Dakota        4450.0  ...    470050.0   South Dakota   83.0
39  2005       Tennessee         650.0  ...     77350.0            NaN    NaN
40  2005           Texas        2050.0  ...    210900.0          Texas   72.0
41  2005            Utah          55.0  ...      1956.0            NaN    NaN
42  2005         Vermont          95.0  ...         0.0            NaN    NaN
43  2005        Virginia         490.0  ...     42480.0            NaN    NaN
44  2005      Washington         150.0  ...     16400.0            NaN    NaN
45  2005   West Virginia          45.0  ...      3052.0            NaN    NaN
46  2005       Wisconsin        3800.0  ...    429200.0      Wisconsin   46.0
47  2005         Wyoming          80.0  ...      6860.0            NaN    NaN
48  2005   United States       81779.0  ...  11114082.0  United States   52.0
49  2006         Alabama         200.0  ...     11880.0            NaN    NaN

[50 rows x 8 columns]

In [142]:
corn_table_clean.loc[0:9, 'Value'] = corn_table_clean.loc[810, 'Value']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [143]:
corn_table_clean.head()

   Year       State  Area planted  ... Production  Attribute  Value
0  2005     Alabama         220.0  ...    23800.0        NaN   44.0
1  2005     Arizona          50.0  ...     4290.0        NaN   44.0
2  2005    Arkansas         240.0  ...    30130.0        NaN   44.0
3  2005  California         560.0  ...    22360.0        NaN   44.0
4  2005    Colorado        1100.0  ...   140600.0        NaN   44.0

[5 rows x 8 columns]

In [49]:
col_name = 'Value'
corn_table_clean.columns.get_loc(col_name)

7

In [141]:
corn_table_clean.loc[810, 'Value']

44.0

In [98]:
corn_table_clean.head()

     Year       State  Area planted  ... Production  Attribute  Value
0  2005.0     Alabama         220.0  ...    23800.0        NaN    NaN
1  2005.0     Arizona          50.0  ...     4290.0        NaN    NaN
2  2005.0    Arkansas         240.0  ...    30130.0        NaN    NaN
3  2005.0  California         560.0  ...    22360.0        NaN    NaN
4  2005.0    Colorado        1100.0  ...   140600.0        NaN    NaN

[5 rows x 8 columns]

(corn_table_clean[(corn_table_clean.Year==2005) & (corn_table_clean.Attribute=='Other States')]['Value']) = corn_table_clean[(corn_table_clean.Year==2005) & (corn_table_clean.Value=='NaN')]

In [ ]:
corn_table_clean

In [ ]:
corn_table['Value'] = corn_table['Value'].div(100).round(2)

In [ ]:
corn_table["GM corn area"] = corn_table["Area planted"] * corn_table["Value"]

In [ ]:
corn_table.shape

---

In [ ]:
gdp_agri.head()

In [ ]:
gdp_agri.dtypes

In [ ]:
gdp_agri["Agri GDP"] = gdp_agri["Agri GDP"].astype(int)

In [ ]:
corn_table = corn_table.merge(gdp_agri, how='inner', left_on=['Year', 'State'], right_on=['Year', 'State'])

In [ ]:
corn_table.head()

In [ ]:
corn_general = corn_table[(corn_table['State']=='United States')]

In [ ]:
corn_table[(corn_table['Agri GDP']>14000)]

In [ ]:
corn_general.head()

In [ ]:
corn_general.dtypes

# Exploratory analysis with scatterplots

In [ ]:
corn_table1 = corn_table[corn_table['State']!='United States']

In [ ]:
corn_table1 = corn_table1[corn_table1['State']!='Texas']

In [ ]:
corn_general.plot(x= 'Year', y = 'Agri GDP')

In [ ]:
corn_general.plot(x= 'Year', y = 'GM corn area')

In [ ]:
corn_general.plot(x= 'Year', y = 'Production')

In [ ]:
corn_general.plot(x= 'Year', y = 'Yield')

In [ ]:
corn_general.plot(x= 'Year', y = 'Area planted')

In [ ]:
corn_general.plot.scatter(x= 'GM corn area', y = 'Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='GM corn area', y ='Agri GDP')

In [ ]:
corn_table1.plot.scatter(x='GM corn area', y ='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='Production', y ='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='Yield', y ='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='Area planted', y ='Agri GDP')

In [ ]:
corn_table.dtypes

In [ ]:
corn_table["Area harvested for grain"] = corn_table["Area harvested for grain"].astype(float).astype(int)

In [ ]:
corn_table["Value"] = corn_table["Value"].astype(float).astype(int)
corn_table["GM corn area"] = corn_table["GM corn area"].astype(float).astype(int)

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='Area harvested for grain', y ='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='GM corn area', y ='Yield')

In [ ]:
corn_table[corn_table['State']!='United States'].plot.scatter(x='GM corn area', y ='Production')

---

# Corn descriptive statistics

In [ ]:
corn_table1[corn_table1['Year']==2019].plot.bar('State','Agri GDP')

In [ ]:
corn_table1[corn_table1['Year']==2019].plot.bar('State','GM corn area')

In [ ]:
corn[corn['Year']==2019][corn['State']!='United States'].plot.bar('State','Area planted')

In [ ]:
gdp_agri.dtypes

In [ ]:
gdp_agri['Year'].max()

In [ ]:
gdp_agri[(gdp_agri['Year']==2019)&(gdp_agri['State']!='United States')].plot.bar('State','Agri GDP')

In [ ]:
gdp_agri.groupby(['Year', 'State']).count().sort_values(ascending=False, by ='Agri GDP')

In [ ]:
gdp_agri[(gdp_agri['Year']==2019)&(gdp_agri['State']=='Far West')]

---

Checking correlation just for 1 year

In [ ]:
corn_table1[corn_table1['Year']==2016].plot.scatter(x= 'GM corn area', y = 'Agri GDP')

In [ ]:
corn_table1[corn_table1['Year']==2005].plot.scatter(x= 'GM corn area', y = 'Agri GDP')

---

Checking for correlations

# Checking for correlations for initial variables

In [ ]:
corn_table[corn_table['State']!='United States'].corr()

In [ ]:
import seaborn as sns

In [ ]:
corn_for_cor=corn_table1.drop(columns='Year')

In [ ]:
corn_for_cor=corn_table1.drop(columns='Value')

In [ ]:
corn_for_cor=corn_for_cor.drop(columns='Year')

In [ ]:
corn_for_cor.corr()

In [ ]:
sns.heatmap(corn_for_cor[corn_for_cor['State']!='United States'].corr(), cmap="YlOrBr")

---

# More Descriptive stats

In [ ]:
corn_table1.hist(column='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].hist(column='Agri GDP')

In [ ]:
corn_table[corn_table['State']!='United States'].hist(column='GM corn area')

In [ ]:
g = sns.FacetGrid(corn_table, col="State", sharex=False)
g.map(sns.boxplot, 'Agri GDP')

---

# Scatter plots for each state

Doing correlations within each state

In [ ]:
corn_table[corn_table['State']=='United States'].plot.scatter('GM corn area','Agri GDP')

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Illinois']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Indiana']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Iowa']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Kansas']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Michigan']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Minnesota']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Missouri']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Nebraska']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='North Dakota']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Ohio']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='South Dakota']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table[corn_table['State']=='Texas']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
from scipy.stats import pearsonr
# calculate Pearson's correlation
corr, _ = pearsonr(corn_table1[corn_table1['State']=='Wisconsin']['GM corn area'], corn_table1[corn_table1['State']=='Illinois']['Agri GDP'])
print('Pearsons correlation: %.3f' % corr)

In [ ]:
fig, axes = plt.subplots(5, 3, sharex=True, sharey=True, figsize=(10,10))
corn_table[corn_table['State']=='Illinois'].plot.scatter('GM corn area','Agri GDP', ax=axes[0,0])
axes[0,0].set_title('Illinois corr:0.624')
corn_table[corn_table['State']=='Indiana'].plot.scatter('GM corn area','Agri GDP', ax=axes[0,1])
axes[0,1].set_title('Indiana corr:0.614')
corn_table[corn_table['State']=='Iowa'].plot.scatter('GM corn area','Agri GDP', ax=axes[0,2])
axes[0,2].set_title('Iowa corr:0.598')
corn_table[corn_table['State']=='Kansas'].plot.scatter('GM corn area','Agri GDP', ax=axes[1,0])
axes[1,0].set_title('Kansas corr:0.527')
corn_table[corn_table['State']=='Michigan'].plot.scatter('GM corn area','Agri GDP', ax=axes[1,1])
axes[1,1].set_title('Michigan corr:0.610')
corn_table[corn_table['State']=='Minnesota'].plot.scatter('GM corn area','Agri GDP', ax=axes[1,2])
axes[1,2].set_title('Minnesota corr:0.634')
corn_table[corn_table['State']=='Missouri'].plot.scatter('GM corn area','Agri GDP', ax=axes[2,0])
axes[2,0].set_title('Missouri corr:0.604')
corn_table1[corn_table1['State']=='Nebraska'].plot.scatter('GM corn area','Agri GDP', ax=axes[2,1])
axes[2,1].set_title('Nebraska corr:0.641')
corn_table1[corn_table1['State']=='North Dakota'].plot.scatter('GM corn area','Agri GDP', ax=axes[2,2])
axes[2,2].set_title('North Dakota corr:0.603')
corn_table1[corn_table1['State']=='Ohio'].plot.scatter('GM corn area','Agri GDP', ax=axes[3,0])
axes[3,0].set_title('Ohio corr:0.691')
corn_table1[corn_table1['State']=='South Dakota'].plot.scatter('GM corn area','Agri GDP', ax=axes[3,1])
axes[3,1].set_title('South Dakota corr:0.590')
corn_table[corn_table['State']=='Texas'].plot.scatter('GM corn area','Agri GDP', ax=axes[3,2])
axes[3,2].set_title('Texas corr:0.614')
corn_table1[corn_table1['State']=='Wisconsin'].plot.scatter('GM corn area','Agri GDP', ax=axes[4,0])
axes[4,0].set_title('Wisconsin corr:0.565')

plt.tight_layout()
fig.show()

---

# Panel regression or timeseries regression?

In [ ]:
regression = corn_table.set_index(["State"])

In [ ]:
regression=pd.to_datetime(regression.Year, format='%Y')

In [ ]:
regression1 = corn_table.set_index(["State", "Year"])

In [ ]:
!pip install linearmodels
from linearmodels import PanelOLS
PanelOLS(regression1['Agri GDP'],regression1['GM corn area'], entity_effects=True, time_effects=True)

In [ ]:
mod = PanelOLS(regression1['Agri GDP'],regression1['GM corn area'], entity_effects=True, time_effects=True)

In [ ]:
print(mod)

---

# Normalising Agriculture GDP and repeating the analysis

Normalising the GDP, first add and clean the acreage operated per state to the Agriculture GDP dataframe and then divide the Agri GDP by that acreage to have the normalised_gdp_agri

In [ ]:
acres_operated.head()

In [ ]:
acres_operated =acres_operated.drop(columns="Unnamed: 5")

In [ ]:
acres_operated =acres_operated.drop(columns="Unnamed: 6")

In [ ]:
acres_operated.dtypes

In [ ]:
gdp_agri.head()

In [ ]:
acres_operated = acres_operated.drop(columns="Period")
acres_operated = acres_operated.drop(columns="Data Item")

In [ ]:
nor_gdp_agri = gdp_agri.merge(acres_operated, how='inner', left_on=['Year', 'State'], right_on=['Year', 'State'])

Add new column with the normalised GDP

In [ ]:
nor_gdp_agri["Normalised Agri GDP"] = nor_gdp_agri["Agri GDP"] / nor_gdp_agri["Value"]

In [ ]:
nor_gdp_agri

In [ ]:
nor_gdp_agri=nor_gdp_agri.drop(columns='Agri GDP')
nor_gdp_agri=nor_gdp_agri.drop(columns='Value')

In [ ]:
corn_table.head()

In [ ]:
nor_corn_table = corn_table.merge(nor_gdp_agri, how='inner', left_on=['Year', 'State'], right_on=['Year', 'State'])

In [ ]:
nor_corn_table.head()

In [ ]:
nor_corn_table=nor_corn_table.drop(['Table','Variety','Unit','Value'], axis=1)

In [ ]:
nor_corn_table

In [ ]:
nor_corn_table[nor_corn_table['Normalised Agri GDP']>0.0003]

In [ ]:
nor_corn_table.plot.hexbin(y='Normalised Agri GDP', x='GM corn area', gridsize=15)

In [ ]:
nor_corn_table.plot.scatter(y='Normalised Agri GDP', x='GM corn area' )

In [ ]:
nor_corn_table['State'].unique()

In [ ]:
# library & dataset
import seaborn as sns

# Use the 'hue' argument to provide a factor variable
sns.lmplot( x="GM corn area", y="Normalised Agri GDP", data=nor_corn_table, fit_reg=False, hue='State', legend=False, palette=sns.color_palette("Set3", 13))
 
# Move the legend to an empty part of the plot
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
 
#sns.plt.show()

# Adding other variables to perform the regression

Then, I will add some other variables that may affect the Agricultural GDP other than GM crop production, and use them as control variables

Checking the correlation between Field crop totals and the agricultural GDP, to see whether the crops levels overall create the same linear relationship

In [ ]:
crops_planted_acreage.rename({'Value':'All crops planted acreage'}, inplace=True)

In [ ]:
crops_planted_acreage.head()

In [ ]:
nor_corn_table.head()

In [ ]:
jobs_and_wage.head()

In [ ]:
jobs_and_wage.dtypes

In [ ]:
jobs_and_wage.replace({"**": "0"}, inplace=True)

In [ ]:
jobs_and_wage.replace({"NaN": "0"}, inplace=True)

In [ ]:
jobs_and_wage.replace({"*": "0"}, inplace=True)

In [ ]:
jobs_and_wage["TOT_EMP"] = jobs_and_wage["TOT_EMP"].astype(float).astype(int)
jobs_and_wage["H_MEAN"] = jobs_and_wage["H_MEAN"].astype(float).astype(int)
jobs_and_wage["A_MEAN"] = jobs_and_wage["A_MEAN"].astype(float).astype(int)
jobs_and_wage["H_MEDIAN"] = jobs_and_wage["H_MEDIAN"].astype(float).astype(int)
jobs_and_wage["A_MEDIAN"] = jobs_and_wage["A_MEDIAN"].astype(float).astype(int)

In [ ]:
jobs_and_wage.dtypes

In [ ]:
jobs_and_wage=jobs_and_wage.merge(population, how='inner', left_on=['Year', 'STATE'], right_on=['Year', 'State'])

In [ ]:
jobs_and_wage.head()

In [ ]:
exports.columns

In [ ]:
exports.dtypes

In [ ]:
exports["Agri exports "] = exports["Agri exports "].astype(float).astype(int)
exports["Corn exports"] = exports["Corn exports"].astype(float).astype(int)

TABLE WITH AGRI GDP; EXPORTS; JOBS; WAGES; TOTAL CROP ACREAGE

In [ ]:
gdp_agri.head()

In [ ]:
all_states = gdp_agri.merge(exports, how='inner', left_on=['Year', 'State'], right_on=['Year', 'States'])

In [ ]:
all_states = all_states.merge(jobs_and_wage, how='inner', left_on=['Year', 'State'], right_on=['Year', 'STATE'])

In [ ]:
all_states = all_states.merge(crops_planted_acreage, how='inner', left_on=['Year', 'STATE'], right_on=['Year', 'State'])

In [ ]:
all_states = all_states.merge(acres_operated, how='inner', left_on=['Year', 'STATE'], right_on=['Year', 'State'])

In [ ]:
all_states.head()

TABLE WITH CORN; GM CORN; AGRI GDP; EXPORTS; JOBS; WAGES; TOTAL CROP ACREAGE

In [ ]:
nor_corn_table = nor_corn_table.merge(crops_planted_acreage, how='inner', left_on=['Year', 'State'], right_on=['Year', 'State'])

In [ ]:
nor_corn_table = nor_corn_table.merge(exports, how='inner', left_on=['Year', 'State'], right_on=['Year', 'States'])

In [ ]:
nor_corn_table = nor_corn_table.merge(jobs_and_wage, how='inner', left_on=['Year', 'State'], right_on=['Year', 'STATE'])

In [ ]:
nor_corn_table.head()

In [ ]:
nor_corn_table.drop(columns=['Attribute', 'States', 'Period', 'Data Item', 'STATE', 'State_y'], inplace=True)

In [ ]:
nor_corn_table.head()

In [ ]:
nor_corn_table.rename({'Value':'All crops planted acreage'}, inplace=True, axis=1)

In [ ]:
nor_corn_table.tail()

In [ ]:
nor_corn_table['OCC_TITLE'].replace({"Farmers, Ranchers, and Other Agricultural Managers": "Farm, ranch, and other agricultural managers"}, inplace=True)

In [ ]:
nor_corn_table['Agri GDP'] = nor_corn_table['Agri GDP']*1000000
nor_corn_table['Normalised Agri GDP'] = nor_corn_table['Normalised Agri GDP']*1000000
nor_corn_table['Area planted'] = nor_corn_table['Area planted']*1000
nor_corn_table['Area harvested for grain'] = nor_corn_table['Area harvested for grain']*1000

In [ ]:
nor_corn_table['GM corn area'] = nor_corn_table['GM corn area']*1000

In [ ]:
nor_corn_table['Agri exports '] = nor_corn_table['Agri exports ']*1000000
nor_corn_table['Corn exports'] = nor_corn_table['Corn exports']*1000000

In [ ]:
nor_corn_table['Production'] = nor_corn_table['Production']*1000

In [ ]:
nor_corn_table['Normalised Agri GDP'].round(2)

In [ ]:
nor_corn_table

In [ ]:
len(nor_corn_table[(nor_corn_table['TOT_EMP']==0) & (nor_corn_table['OCC_TITLE']=='Agricultural workers, all other')])

In [ ]:
nor_corn_table = nor_corn_table[nor_corn_table['OCC_TITLE']=='Farm, ranch, and other agricultural managers']

Changing missing values (0) in employment and wage to the mean so we can do the regression

In [ ]:
mean_tot_emp = nor_corn_table[nor_corn_table['TOT_EMP']>0]['TOT_EMP'].median()

nor_corn_table['TOT_EMP'][nor_corn_table['TOT_EMP']==0] = mean_tot_emp

In [ ]:
mean_hour_wage = nor_corn_table[nor_corn_table['H_MEAN']>0]['H_MEAN'].mean()

nor_corn_table['H_MEAN'][nor_corn_table['H_MEAN']==0] = mean_hour_wage

In [ ]:
mean_ann_wage = nor_corn_table[nor_corn_table['A_MEAN']>0]['A_MEAN'].mean()

nor_corn_table['A_MEAN'][nor_corn_table['A_MEAN']==0] = mean_ann_wage

In [ ]:
mean_med_h_wage = nor_corn_table[nor_corn_table['H_MEDIAN']>0]['H_MEDIAN'].mean()

nor_corn_table['H_MEDIAN'][nor_corn_table['H_MEDIAN']==0] = mean_med_h_wage

In [ ]:
mean_med_a_wage = nor_corn_table[nor_corn_table['A_MEDIAN']>0]['A_MEDIAN'].mean()

nor_corn_table['A_MEDIAN'][nor_corn_table['A_MEDIAN']==0] = mean_med_a_wage

In [ ]:
nor_corn_table = nor_corn_table.round(5)

Making sure all categorical values are the same

In [ ]:
nor_corn_table['OCC_TITLE'].unique

In [ ]:
nor_corn_table.tail()

In [ ]:
nor_corn_table['N_TOT_EMP_1000'] = nor_corn_table['TOT_EMP'] / nor_corn_table['Population']

In [ ]:
nor_corn_table['N_TOT_EMP_1000'] = nor_corn_table['N_TOT_EMP_1000'] * 1000

In [ ]:
nor_corn_table=nor_corn_table.merge(acres_operated, left_on=['Year', 'State_x'], right_on=['Year', 'State'])

In [ ]:
nor_corn_table.rename({'Value':'Acres operated in agriculture'}, inplace=True, axis=1)

In [ ]:
nor_corn_table.drop(columns='State', inplace=True)

In [ ]:
nor_corn_table['log_TOT_EMP'] = np.log10(nor_corn_table['TOT_EMP'])

In [ ]:
nor_corn_table.tail()

In [ ]:
nor_corn_table['N_GM_corn_area '] = nor_corn_table['GM corn area'] / nor_corn_table['Acres operated in agriculture']

nor_corn_table['N_agri_exports'] = nor_corn_table['Agri exports '] / nor_corn_table['Acres operated in agriculture']

nor_corn_table['N_corn_exports'] = nor_corn_table['Corn exports'] / nor_corn_table['Acres operated in agriculture']

nor_corn_table = nor_corn_table.round(5)

In [ ]:
nor_corn_table.to_csv('final_data_table.csv')

In [ ]:
nor_corn_table.set_index('Year', inplace=True)

In [ ]:
import pandas as pd
from sklearn import preprocessing
cols_to_norm = ['Normalised Agri GDP','N_GM_corn_area ', 'N_agri_exports', 'N_TOT_EMP_1000', 'H_MEAN', 'A_MEAN', 'Yield', 'log_TOT_EMP']
min_max_scaler = preprocessing.MinMaxScaler()
nor_corn_table[cols_to_norm] = min_max_scaler.fit_transform(nor_corn_table[cols_to_norm])

In [ ]:
nor_corn_table

---

# Regression and final visualisations

In [ ]:
nor_corn_table.columns

In [ ]:
nor_corn_table.rename(columns={'Normalised Agri GDP':'N_Agri_GDP'}, inplace=True)

In [ ]:
nor_corn_table.rename(columns={'N_GM_corn_area ':'N_GM_corn_area'}, inplace=True)

Source:  https://www.statology.org/durbin-watson-test-python/

Before doing the linear regression, since the data is a time series it is important to check whether the data is autocorrelated, that would make it unsuitable for the linear regression. If the Durbin-Watson test lies between 1.5 and 2.5, then it is considered normal.

In [ ]:
from statsmodels.formula.api import ols

#fit multiple linear regression model
model1 = ols('N_Agri_GDP ~ N_GM_corn_area ', data=nor_corn_table).fit()

#view model summary
print(model1.summary())

In [ ]:
from statsmodels.formula.api import ols

#fit multiple linear regression model
model = ols('N_Agri_GDP ~ log_TOT_EMP + Yield + N_GM_corn_area ', data=nor_corn_table).fit()

#view model summary
print(model.summary())

In [ ]:
from statsmodels.stats.stattools import durbin_watson

#perform Durbin-Watson test
durbin_watson(model.resid)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
nor_corn_table.columns

In [ ]:
Features = ['N_GM_corn_area', 'log_TOT_EMP', 'Yield']
X = nor_corn_table[Features]
y = nor_corn_table['N_Agri_GDP']

Removed 'N_agri_exports'

In [ ]:
reg = LinearRegression().fit(X,y)

In [ ]:
np.round(reg.coef_, 6)

In [ ]:
reg.score(X,y)

In [ ]:
y_pred = reg.predict(X)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print('Mean squared error: %.2f'      
      % mean_squared_error(y, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'     
      % r2_score(y, y_pred))

In [ ]:
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms

fig, ax = plt.subplots()
ax.scatter(y, y_pred)
line = mlines.Line2D([0, 1], [0, 1], color='red')
transform = ax.transAxes
line.set_transform(transform)
ax.add_line(line)
plt.show()

In [ ]:
sns.pairplot(nor_corn_table[Features+['N_Agri_GDP']])

In [ ]:
sns.heatmap(nor_corn_table[Features+['N_Agri_GDP']].corr())

In [ ]:
nor_corn_table[Features+['N_Agri_GDP']]

In [ ]:
Features = ['N_GM_corn_area', 'log_TOT_EMP', 'Yield','N_agri_exports']

In [ ]:
sns.set_style('whitegrid') 
for f in Features:
  print(f)
  sns.lmplot(x=f, y='N_Agri_GDP', data=nor_corn_table)